<section class="position-relative section-sm bg-extra"><img src="images/bg-cta-bg-2.png" alt="" class="overlay-shape">
	<div class="container">
		<div class="row align-items-center">
			<!-- call-to-action text -->
			<div class="col-lg-9 mb-5 mb-lg-0">
				<h2 class="text-white mb-0">Our games + your site?</h2>
				<p class="text-white">Our games are avaliable for licensing!</p>
			</div>
			<!-- call-to-action button -->
			<div class="col-lg-3">
				<a href="contact.html" class="btn btn-primary">Purchase a license</a>	
			</div>
		</div>
	</div>
</section>