<nav class="navbar navbar-expand-lg fixed-top main-nav" id="main-nav">
    <div class="container">
        <!-- navbar logo & link -->
        <a class="navbar-brand" href="/">
        <img src="/assets/images/logos/logo-full-white-235x63.png" alt="Sheep Studios" class="img-fluid"></a>
    
        <!-- Mobile menu button -->
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>

        <!-- navigation items -->
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto text-center">
                <!-- dropdown menu
                <li class="nav-item  dropdown ">
                    
                    Dropdown menu name
                    <a class="nav-link  dropdown-toggle " data-toggle="dropdown">Pages<i class="icofont-simple-down"></i></a>
                    
                    Dropdown menu items
                    <ul class="sub-menu dropdown-menu"><li><a class="dropdown-item" href="/privacy">Privacy policy</a></li>
                        <li><a class="dropdown-item" href="/games">Games</a></li>
                    </ul>
                </li>
                -->
                
                <!-- "home" item -->
                <li class="nav-item ">
                    <a class="nav-link " href="/">Home</a>
                </li>

                <!-- "games" item -->
                <li class="nav-item ">
                    <a class="nav-link " href="/games">Games</a>
                </li>
                
                <!-- "news" item -->
                <li class="nav-item ">
                    <a class="nav-link " href="/news">News</a>
                </li>

                <!-- "contact" item -->
                <li class="nav-item ">
                    <a class="nav-link " href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>