<!-- Header start -->
<header id="header" class="fixed-top">
    <div class="container d-flex">
        <!-- Logo -->
        <div class="logo mr-auto">
            <a href="index.html"><img src="assets/img/logos/logo_full_white.png" alt="" class="img-fluid"></a>
        </div>

        <!-- Links -->
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                {% if page.permalink == "/" %}
                    <li><a href="#services">Services</a></li>
                {% else %}
                    <li><a href="/#services">Services</a></li>
                {% endif %}
                <li><a href="#portfolio">Our Games</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- End Header -->